<!DOCTYPE html>
<html>

<head>
    <title>Page Not Found</title>
</head>

<body>
    <header>
        <h2>404 - Pagina no Enctontrada</h2>
    </header>
    <p>La pagina que estas buscando no se puede encontrar.</p>
    <p><a href="/">Volver al inicio</a></p>
</body>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    h2 {
        font-size: 36px;
        color: #333;
        margin-top: 50px;
        text-align: center;
    }

    p {
        font-size: 18px;
        color: #666;
        text-align: center;
        margin-top: 20px;
    }
</style>

</html>