<!-- Footer Start -->
<div class="container-fluid bg-light pt-5 px-sm-3 px-md-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <a href="index.html" class="navbar-brand">
          <h1 class="mb-2 mt-n2 display-5 text-uppercase">
            <span class="text-primary">UIDE</span>NEWS
          </h1>
        </a>
      </div>
      <div class="col-lg-9 col-md-6 mb-5 text-center">
        <p class="m-0">
          &copy;
          <a class="font-weight-bold" href="#">
            <img
              src="{{ url_for('static', filename='img/logouide.png') }}"
              width="50"
              alt="Uide News"
            />
          </a>
          Uide News Todo los derechos reservados.
          
          <a class="font-weight-bold" href="{{ url_for('cv') }}">Contacto</a>
          <br />
          <a class="font-weight-bold" href="https://htmlcodex.com/"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- Footer End -->
  