<!-- Newsletter Start -->
<div class="pb-3">
    <div class="bg-light py-2 px-4 mb-3">
        <h3 class="m-0">Publica tu noticia</h3>
    </div>
    <div class="bg-light text-center p-4 mb-3">
        <p>AGREGA TU NOTICIA AQUII</p>
        <div class="input-group" style="width: 100%;">
                <div class="input-group-append">
                    <a href="{{ url_for('blog') }}" class="nav-item nav-link active">
                        <button class="btn btn-primary">AGREGA TU NOTICIA</button>
                    </a>
                    <a href="{{ url_for('categoria')}}" class="nav-item nav-link active">
                        <button class="btn btn-primary">AGREGA TU CATEGORIA</button>
                    </a>
            </div>
        </div>
        <small>Sit eirmod nonumy kasd eirmod</small>
    </div>
</div>
<!-- Newsletter End -->
